
  #container-con-fondo {
    background-image: url(../img-categorias/fotofondo.png);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    border-radius: 5px;
    padding: 10%; 
    width: 90%; 
    height: 5%;  
  }

  form {
    width: 80%; 
    display: flex; 
  }
  
  input.form-control {
    flex: 1; 
    height: 40px; 
    font-size: 16px; 
  }
  
  .search-button {
    background: transparent;
    border: none;
    cursor: pointer;
  }


  .breadcrumb {
    color: #000000; 
    font-weight: bold; 
    margin-left: 65px;
}


  .story-icon {
    width: 80px; 
    height: 80px;
    background-color: rgb(170, 216, 157); 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .categoria-icon {
    width: 70px; 
    height: 70px;
    background-color: none; 
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
  }
  
  .categoria-icon img {
    max-width: 100%;
    max-height: 100%;
  }

  .categorias {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 90%;
    margin: 0 auto; 
    margin: 20px auto 0;
  }

  .story-icon {
    max-width: 100px; 
    padding: 10px; 
  }
  
  
  .categoria-arboles {
    margin-top: 5px; 
    font-weight: bold; 
  }
  