
  @import url('https://fonts.googleapis.com/css2?family=Sarina&display=swap');

/*reset*/

*{
    margin:0;
    padding:0;
    border:none;
    box-sizing: border-box;
    outline:none;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
    list-style: none;
}

/* setting: body-main-html*/
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
}

.sub-title{
    border-left: #448334 4px solid;
    padding-left: 10px;
    font-weight: 500;
    margin-top: 35px;
    margin-bottom: 35px;
    text-transform: uppercase;
    font-size: 20px;
}

.active{
    color: #448334 !important;
}


/*navBar*/

.nav-link{
    color: #161616;
    font-size: 14px !important;
    font-weight: 500 !important;
    text-transform: uppercase;
    padding: 0 10px;
    transition: all 0.3s ease-in-out;
}

.nav-login{
    color: #448334 !important;
}

.event-link-display-none{
    display: none;
}



.breadcrumb-item  a{
    color: #448334 !important;
}


/*NavBar*/

  .menu-img-profile{
    width: 40px;
    height: auto;
    margin-left: 10px;
}

.dropdown-menu{
    position: absolute;
    right: 0px!important;
    top: 48px!important;
    left: -80px!important;
    bottom: auto!important;
}

.container .show + #profile {
    display: none;
}

#eventLink{
    display: flex;
}